#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized always.
		%button= link_to 'Enter', new_user_registration_path

#callouts
	.callout-inner
		.wrapper
			.callout
			%h2 Organize
			%p Readymade migas roof party normcore pickled biodiesel, vice fashion axe lumbersexual fap narwhal sartorial schlitz meditation. Hoodie helvetica pour-over echo park, ramps drinking vinegar yuccie sustainable taxidermy green juice four dollar toast selvage YOLO next level direct trade. Wolf gentrify retro seitan, gluten-free keffiyeh kinfolk chambray small batch squid yuccie kombucha chicharrones. Yr lomo twee street art bitters. XOXO scenester bushwick, authentic messenger bag VHS YOLO butcher drinking vinegar ennui venmo. Gochujang intelligentsia chicharrones, forage organic swag fashion axe. Blog franzen ennui mumblecore literally.

#buttom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to 'Join Now', new_user_registration_path